		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
		}
		header {
			background-color: #333;
			color: #fff;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		main {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 20px;
		}
		article {
			background-color: #f2f2f2;
			border-radius: 5px;
			box-shadow: 2px 2px 5px #ccc;
			width: 60%;
			margin-bottom: 20px;
		}
		article h2 {
			padding: 10px;
			background-color: #333;
			color: #fff;
			margin: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		article p {
			padding: 10px;
			margin: 0;
		}
		article img {
			width: 100%;
			border-radius: 5px;
			margin-top: 10px;
		}
		
		footer {
			background-color: #333;
			color: #fff;
			padding: 10px;
			text-align: center;
		}